@font-face {
    font-family: "BeonMedium";
    src: local("☺"), url("../assets/beon-webfont.eot") format("embedded-opentype"),
        url("../assets/beon-webfont.woff") format("woff"), url("../assets/beon-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Carnevalee Freakshow";
    src: url("../assets/Carnevalee-Freakshow.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../assets/PT-Sans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
